In [110]:
import warnings
warnings.filterwarnings('ignore')

In [111]:
import numpy as np
import pandas as pd

In [112]:
df = pd.read_csv("study_performance.csv")

In [113]:
df.head(2)

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88

In [114]:
df.tail(2)

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [115]:
df.sample(2)

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
166,male,group C,high school,free/reduced,completed,53,51,51
541,male,group D,associate's degree,free/reduced,completed,79,82,80

In [116]:
df.drop(columns=["test_preparation_course"],inplace=True)
df.sample(2)

,gender,race_ethnicity,parental_level_of_education,lunch,math_score,reading_score,writing_score
601,female,group C,high school,standard,29,29,30
650,male,group C,some high school,free/reduced,51,56,53

In [117]:
df.rename(columns={
    "gender":"cinsiyet",
    "race_ethnicity":"grup",
    "parental_level_of_education":"ebeveyn eğitimi",
    "lunch":"öğle yemeği",
    "math_score":"matematik",
    "reading_score":"okuma",
    "writing_score":"yazma"
},inplace=True)
df.sample(2)

    cinsiyet     grup   ebeveyn eğitimi   öğle yemeği  matematik  okuma  yazma
276   female  group C  some high school      standard         85     92     93
792     male  group D       high school  free/reduced         66     74     69

In [118]:
df["grup"]=df["grup"].str.replace("group","")
df.sample(2)

    cinsiyet grup    ebeveyn eğitimi öğle yemeği  matematik  okuma  yazma
13      male    A       some college    standard         78     72     70
114   female    E  bachelor's degree    standard         99    100    100

In [119]:
df["cinsiyet"]=df["cinsiyet"].str.replace("male","erkek")
df.sample(2)

    cinsiyet grup    ebeveyn eğitimi   öğle yemeği  matematik  okuma  yazma
700  feerkek    E  bachelor's degree      standard         79     81     82
760  feerkek    C        high school  free/reduced         53     72     64

In [120]:
df["cinsiyet"]=df["cinsiyet"].str.replace("feerkek","kadın")
df.sample(2)

    cinsiyet grup    ebeveyn eğitimi   öğle yemeği  matematik  okuma  yazma
937    kadın    E        high school  free/reduced         57     58     57
784    erkek    C  bachelor's degree      standard         91     81     79

In [121]:
df.isnull().sum()

cinsiyet           0
grup               0
ebeveyn eğitimi    0
öğle yemeği        0
matematik          0
okuma              0
yazma              0
dtype: int64

In [122]:
df.dtypes

cinsiyet           object
grup               object
ebeveyn eğitimi    object
öğle yemeği        object
matematik           int64
okuma               int64
yazma               int64
dtype: object

In [123]:
df.shape

(1000, 7)

In [124]:
df["cinsiyet"].value_counts()

cinsiyet
kadın    518
erkek    482
Name: count, dtype: int64

In [125]:
df.columns

Index(['cinsiyet', 'grup', 'ebeveyn eğitimi', 'öğle yemeği', 'matematik',
       'okuma', 'yazma'],
      dtype='object')

In [126]:
df["grup"].value_counts()

grup
 C    319
 D    262
 B    190
 E    140
 A     89
Name: count, dtype: int64

In [127]:
df["ebeveyn eğitimi"].value_counts()

ebeveyn eğitimi
some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: count, dtype: int64

In [128]:
erkekler_df=df[df["cinsiyet"]=="erkek"]
ortalama_erkekler=erkekler_df["matematik"].mean()
ortalama_erkekler

68.72821576763485

In [129]:
kadınlar_df=df[df["cinsiyet"]=="kadın"]
ortalama_kadınlar=kadınlar_df["matematik"].mean()
ortalama_kadınlar

63.633204633204635

In [130]:
ebeveyne_gore =  (df["cinsiyet"]=="erkek") & (df["ebeveyn eğitimi"]=="master's degree")
master_erkekler_df=df[ebeveyne_gore]
ortalama_ebeveyn = master_erkekler_df["matematik"].mean()
ortalama_ebeveyn

74.82608695652173

In [131]:
ebeveyne_gore = (df["cinsiyet"]=="kadın") & (df["ebeveyn eğitimi"]=="master's degree")
master_kadınlar_df = df[ebeveyne_gore]
ortalama_ebeveyn = master_kadınlar_df["matematik"].mean()
ortalama_ebeveyn

66.5

In [132]:
ebeveyne_gore = (df["cinsiyet"]=="erkek") & (df["ebeveyn eğitimi"]=="high school")
high_school_erkekler = df[ebeveyne_gore]
ortalama_ebeveyn = high_school_erkekler["matematik"].mean()
ortalama_ebeveyn

64.70588235294117

In [133]:
ebeveyne_gore = (df["cinsiyet"]=="kadın") & (df["ebeveyn eğitimi"]=="high school")
high_school_kadınlar = df[ebeveyne_gore]
ortalama_ebeveyn = high_school_kadınlar["matematik"].mean()
ortalama_ebeveyn

59.351063829787236

In [134]:
ebeveyne_gore = (df["cinsiyet"]=="erkek") & (df["ebeveyn eğitimi"]=="associate's degree")
associate_erkekler = df[ebeveyne_gore]
ortalama_ebeveyn = associate_erkekler["matematik"].mean()
ortalama_ebeveyn

70.76415094339623

In [135]:
ebeveyne_gore = (df["cinsiyet"]=="kadın") & (df["ebeveyn eğitimi"]=="associate's degree")
associate_kadınlar = df[ebeveyne_gore]
ortalama_ebeveyn = associate_kadınlar["matematik"].mean()
ortalama_ebeveyn

65.25

In [136]:
ebeveyne_gore = (df["cinsiyet"]=="erkek") & (df["ebeveyn eğitimi"]=="some high school")
some_high_school_erkekler = df[ebeveyne_gore]
ortalama_ebeveyn = some_high_school_erkekler["matematik"].mean()
ortalama_ebeveyn

67.8409090909091

In [137]:
ebeveyne_gore = (df["cinsiyet"]=="kadın") & (df["ebeveyn eğitimi"]=="some high school")
some_high_school_kadınlar = df[ebeveyne_gore]
ortalama_ebeveyn = some_high_school_kadınlar["matematik"].mean()
ortalama_ebeveyn

59.2967032967033

In [138]:
df.sample(3)

    cinsiyet grup     ebeveyn eğitimi öğle yemeği  matematik  okuma  yazma
152    kadın    B  associate's degree    standard         59     70     66
820    kadın    A    some high school    standard         85     90     92
639    kadın    D  associate's degree    standard         76     74     73

In [139]:
df["öğle yemeği"].value_counts()

öğle yemeği
standard        645
free/reduced    355
Name: count, dtype: int64

In [140]:
yemege_gore = (df["cinsiyet"]=="erkek") & (df["öğle yemeği"]=="standard")
ogle_yemegı_erkekler = df[yemege_gore]
yemek_turu = ogle_yemegı_erkekler["matematik"].mean()
yemek_turu

72.02215189873418

In [141]:
yemege_gore = (df["cinsiyet"]=="erkek") & (df["öğle yemeği"]=="free/reduced")
ogle_yemegı_erkekler = df[yemege_gore]
yemek_turu = ogle_yemegı_erkekler["matematik"].mean()
yemek_turu

62.45783132530121

In [142]:
yemege_gore = (df["cinsiyet"]=="erkek") & (df["öğle yemeği"]=="free/reduced")
ogle_yemegı_erkekler = df[yemege_gore]
sonuc = ogle_yemegı_erkekler.shape[0]
sonuc

166

In [143]:
yemege_gore = (df["cinsiyet"]=="erkek") & (df["öğle yemeği"]=="standard")
ogle_yemegı_erkekler = df[yemege_gore]
sonuc = ogle_yemegı_erkekler.shape[0]
sonuc

316

In [144]:
ort_erkolar_df=df[df["cinsiyet"]=="erkek"]
ortalama_reading_erkek = ort_erkolar_df["okuma"].mean()
ortalama_reading_erkek

65.47302904564316

In [145]:
ort_kadınlar_df = df[df["cinsiyet"]=="kadın"]
ort_reading_kadınlar = ort_kadınlar_df["okuma"].mean()
ort_reading_kadınlar

72.60810810810811

In [146]:
okuma_erkekler_sayı = ort_erkolar_df["okuma"].shape[0]
okuma_erkekler_sayı

482

In [147]:
okuma_kadınlar_sayı = ort_kadınlar_df["okuma"].shape[0]
okuma_kadınlar_sayı

518

In [148]:
ortalama_women_df = df[df["cinsiyet"]=="kadın"]
ortalama_women_yazma = ortalama_women_df["yazma"].mean()
ortalama_women_yazma

72.46718146718146

In [149]:
ortalama_man_df = df[df["cinsiyet"]=="erkek"]
ortalama_man_yazma = ortalama_man_df["yazma"].mean()
ortalama_man_yazma

63.31120331950208

In [151]:
ebeveyne_gore_okuma = (df["cinsiyet"]=="erkek") & (df["öğle yemeği"]=="standard")
ort_ebeveyn_okuma_df = df[ebeveyne_gore_okuma]
sonuc = ort_ebeveyn_okuma_df["okuma"].mean()
sonuc

67.5379746835443

In [152]:
ebeveyne_gore_okuma = (df["cinsiyet"]=="erkek") & (df["öğle yemeği"]=="free/reduced")
ort_ebeveyn_okuma_df = df[ebeveyne_gore_okuma]
sonuc = ort_ebeveyn_okuma_df["okuma"].mean()
sonuc

61.54216867469879

In [153]:
ebeveyne_gore_okuma = (df["cinsiyet"]=="kadın") & (df["öğle yemeği"]=="standard")
ort_ebeveyn_okuma_df = df[ebeveyne_gore_okuma]
sonuc = ort_ebeveyn_okuma_df["okuma"].mean()
sonuc

75.6079027355623

In [154]:
ebeveyne_gore_okuma = (df["cinsiyet"]=="kadın") & (df["öğle yemeği"]=="free/reduced")
ort_ebeveyn_okuma_df = df[ebeveyne_gore_okuma]
sonuc = ort_ebeveyn_okuma_df["okuma"].mean()
sonuc

67.3862433862434